<nav class="navbar navbar-default marginZero">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="site-logo">
        <a href="#">
          <img class="img-responsive" src="images/logo.jpg" width="150px;" alt="">
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>UserName</b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><b>Review</b></a></li>
            <li><a href="#"><b>Logout</b></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>