{% include "common/layout.html" %}
{% block wrapper %}
<div class="intro-header">
  <div class="container">
    <div class="row vh100">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="intro-message animated zoomIn">
          <h2>Padakosham</h2>
          <h4>Enter Your Details</h4>
          <form>
            <div class="form-group animated bounceInLeft">
              <input type="text" class="form-control" id="student_name" placeholder="Name">
            </div>
            <div class="form-group animated bounceInRight">
              <input type="text" class="form-control" id="grade" placeholder="Grade">
            </div>
            <div class="form-group animated bounceInLeft">
              <select class="form-control" id="district" onchange="loadData('subdistrict','/data/retrieve?district='+this.value)">
                <option value="" disabled selected>District</option>
              </select>
            </div>
            <div class="form-group animated bounceInRight">
              <select class="form-control" id="subdistrict" onchange="loadData('school','/data/retrieve?subdistrict='+this.value)">
                <option value="" disabled selected>Sub-District</option>
              </select>
            </div>
            <div class="form-group animated bounceInLeft">
              <select class="form-control" id="school">
                <option value="" disabled selected>School</option>
              </select>
            </div>
            <a href="#">
              <button type="submit" class="btn btn-success white pull-right">Register</button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<script type="text/javascript">
$(function(){
loadData('district', '/data/retrieve?');
});
function loadData(id, url) {
    $.ajax({
      type: "GET",
      crossDomain: true,
      url: url,
      dataType: "json",
      success: function(resultData){
          $.each(resultData[Object.keys(resultData)[0]], function (i, item) {
              $("#"+id).append($('<option>', { 
                  value: item,
                  text : item 
              }));
          });
      },
      error: function(e) {
        console.log(e);
      },
    });
};
</script>